
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type"
	content="application/json; charset=UTF-8" />

<title>Welcome | Ask.fm</title>
<link rel="shortcut icon" type="text/css" href="image/logo.png">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/normalaize.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/Home.css}">
</head>

<body>

	<!--    Start Custom Navbar  -->
	<section class="nav-home">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<img class="logo " th:src="@{/image/logonav.png}">
				</div>

				<ul>
					<li data-class="signup" class="select-home">Sign Up</li>
					<li data-class="login">Login</li>
				</ul>

			</div>
		</div>

		<div class="clear"></div>
	</section>

	<!--    End Custom Navbar  -->

	<!--   Start form  -->
	<form class="signup" th:action="@{/user/add}" th:object="${newuser}"
		method="post">

		<div class="color">
			<div class="container2">
				<input type="text" th:field="*{userName}" placeholder="username">
				<br> <input type="password" th:field="*{passWord}"
					placeholder="password"> <br> <input type="text"
					th:field="*{fullName}" placeholder="full name"><br> 
					<input type="text" th:field="*{email}" placeholder="Email"> <br>
				<div class="row">
					<h4>birth date</h4>
					<select class="col-xs-4">
						<option selected disabled>Day</option>
					</select> <select class="col-xs-4">
						<option selected disabled>Months</option>
					</select> <select class="col-xs-4">
						<option selected disabled>Year</option>
					</select>
				</div>
				
				<!-- 
				to get vlaue from dropDowns .. make a Enum class with values and using th:each 
				 -->
				<h4>Gender</h4>
				<select class="Gender" th:field="*{gender}">
					<option 
					th:each="gendervalue: ${T(com.example.demo.Services.GenderValue).values()}" 
					th:value="${gendervalue.name()}"
					th:text="${gendervalue.name()}"
					>Male</option>
				</select>
				<h4>Language</h4>
				<select class="Language">
					<option selected>English</option>
				</select>
				<p>
					By signing up you agree to our <span> <a>Terms</a></span> and <SPAN>
						<a href=""> Privacy policy</a>
					</SPAN>
				</p>
				<input type="submit" value="Sign Up" class="btn">
				<!--  <a href="#" class="btn">Sign Up</a>  -->
				<div class="clear"></div>
				<p>
					Your name and any information posted on your profile will be
					visible to other users. Information you provide may be shared with
					third parties as explained in our <span> <a href="">Privacy
							policy.</a></span> Please don’t provide any information you don’t want
					shared.
				</p>
			</div>
		</div>

	</form>
	<!--   End form  -->
	<!--   --------------------  Start form Login ----------------------------- -->

	<form class="login" th:action="@{/login}" th:object="${newuser}"
		method="post">
		<div class="color">
			<div class="container2 ccc">
				<input type="text" th:field="*{userName}" placeholder="username">
				<br> <input type="password" th:field="*{passWord}"
					placeholder="password"> <br> <input type="checkbox"
					name="check"> Remmber Password <a href="#">Forget
					Password ?</a> <input type="submit" value="Login" class="btn">

				<div class="clear"></div>
			</div>
		</div>
	</form>
	<!--   End form Login -->
	<script type="text/javascript" th:src="@{/js/jquery-1.12.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>